* {
  text-align: center;
  background-color: rgb(219, 246, 213);
}

span {
  font-size: 18px;
}

button {
  padding: 15px;
  margin: auto 10px;
  background-color: lightblue;
  border-radius: 10px;
  font-size: 16px;
}

textarea,
.result {
  background-color: white;
  text-align: left;
}

input[type="radio"] {
  margin-left: 50px;
}

.flex {
  display: flex;
  margin-left: 200px;
  gap: 50px;
  margin-top: 50px;
}

.result {
  border: 2px solid black;
  margin-top: 60px;
  width: 400px;
  cursor: pointer;
}
